@{
    ViewBag.HideFooter = true;
}
@{
    ViewData["Title"] = "Artists List";
}
<nav class="navbar navbar-light bg-light shadow">
    <div class="container">
        <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <img src="~/img/menu.png" style="height: 1.4rem; width: 1.2rem;" alt="">
        </a>
        <span class="font2 fs-4 admin-heading">Admin Dashboard</span>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark"> <span
                        class="font1 fw-bold fs-1 ms-4"> <img src="~/img/logo.png" style="width: 3rem; height: 3rem;"
                            alt=""> Store
                        To Door</span> </a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-grid gap-2">
                    @* <a href="" class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">Notifications</a> *@
                    <a asp-controller="Home" asp-action="UsersList"
                        class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">User List</a>
                    <a asp-controller="Home" asp-action="ArtistsList"
                        class="btn border-0 btn-dark px-5 mx-2 font2">Artist List</a>
                    <a asp-controller="Home" asp-action="ArtRequestsList"
                        class="btn border-0 btn-outline-dark  px-5 mx-2 font2 ">Art
                        Requests</a>
                    @*<a href="" class="btn border-0 logout-offcanvas btn-outline-dark px-5 mx-2 font2 ">Logout</a>*@
                </div>
            </div>
        </div>
        @* <form class="d-flex">
            <a href="" class="btn logout btn-outline-dark position-relative btn-sm mx-2 px-3 font2 ">Logout</a>
            </form>*@
    </div>
</nav>

<div class="container">
    <div class="py-2">
        <h3>Artists List</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>@{
                    var index = 1;
                    @foreach (var user in ViewBag.Users)
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>
                                <a asp-controller="Home" asp-action="EditUser" asp-route-id="@user.Id"
                            class="btn btn-primary">View</a>
                            </td>
                        </tr>

                        index = index + 1;

                    }
                }
            </tbody>

        </table>
    </div>
</div>
