@{
    if (ViewBag.isArtist)
    {
        ViewData["Title"] = "Edit Artist";
    }
    else
    {
        ViewData["Title"] = "Edit User";

    }
}
@{
    ViewBag.HideFooter = true;
}
<nav class="navbar navbar-light bg-light shadow">
    <div class="container">
        <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <img src="~/img/menu.png" style="height: 1.4rem; width: 1.2rem;" alt="">
        </a>
        <span class="font2 fs-4 admin-heading">Admin Dashboard</span>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark"> <span
                        class="font1 fw-bold fs-1 ms-4"> <img src="~/img/logo.png" style="width: 3rem; height: 3rem;"
                            alt=""> Store
                        To Door</span> </a>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-grid gap-2">
                    @* <a href="" class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">Notifications</a> *@
                    <a asp-controller="Home" asp-action="UsersList"
                        class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">User List</a>
                    <a asp-controller="Home" asp-action="ArtistsList"
                        class="btn border-0 btn-outline-dark  px-5 mx-2 font2 ">Artist List</a>
                    <a asp-controller="Home" asp-action="ArtRequestsList"
                        class="btn border-0 btn-outline-dark  px-5 mx-2 font2 ">Art
                        Requests</a>
                    @*<a href="" class="btn border-0 logout-offcanvas btn-outline-dark px-5 mx-2 font2 ">Logout</a>*@
                </div>
            </div>
        </div>
        @* <form class="d-flex">
            <a href="" class="btn logout btn-outline-dark position-relative btn-sm mx-2 px-3 font2 ">Logout</a>
            </form>*@
    </div>
</nav>

<div class="container">
    <div class="py-2">
        @{
    if (ViewBag.isArtist)
    {
        <h3>Edit Artist</h3>
    }
    else
    {
        <h3>Edit User</h3>

    }
    }
        
    </div>

    <form method="post" asp-controller="Home" asp-action="EditUser" asp-route-id="@(ViewBag.User.Id)">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <input type="hidden" value="@ViewBag.User.Id" name="Id">
                <div class="form-outline">
                    <label class="form-label">First name</label>
                    <input type="text" class="form-control" value="@ViewBag.User.FirstName" name="FirstName" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Last name</label>
                    <input type="text" class="form-control" value="@ViewBag.User.LastName" name="LastName" />
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" value="@ViewBag.User.Email" name="Email" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" value="@ViewBag.User.PhoneNumber" name="PhoneNumber" />
        </div>
        @if (!ViewBag.isArtist)
        {

            <div class="form-outline mb-4">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" value="@ViewBag.User.Address" name="Address" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">City</label>
                <input type="text" class="form-control" value="@ViewBag.User.City" name="City" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">State</label>
                <input type="text" class="form-control" value="@ViewBag.User.State" name="State" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">PinCode</label>
                <input type="text" class="form-control" value="@ViewBag.User.PinCode" name="PinCode" />
            </div>
        }

        @if (ViewBag.isArtist)
        {
            <div class="form-outline mb-4">
                <label class="form-label">Account Name</label>
                <input type="text" class="form-control" value="@ViewBag.User.AccountName" name="AccountName" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">Bio</label>
                <textarea class="form-control" name="Bio">@ViewBag.User.Bio</textarea>
            </div>
        }

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
    </form>
</div>
